---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Saffron Shark Labs',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Saffron Shark Labs</h1>
			<p>
				Saffron Shark Labs is a software development and consulting company dedicated to helping businesses navigate the digital ocean. Our team of experienced developers and consultants work closely with clients to deliver tailored solutions that drive growth and innovation.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow left>
    <p>
      Founded in 2025, Saffron Shark Labs has quickly established itself as a trusted partner for businesses seeking to leverage technology to achieve their goals. Our expertise spans a wide range of industries, including finance, healthcare, e-commerce, and more.
    </p>
    <p>
      Saffron Shark Labs is committed to delivering innovative software solutions that empower businesses to thrive in the digital age. Our expertise spans a wide range of technologies and industries, ensuring that we can meet the unique needs of each client.
    </p>
    <p>
      Reach out today to learn more about how Saffron Shark Labs can help your business navigate the digital ocean and achieve its goals.
    </p>
  </TextSection>
</Layout>
