---
import ContactForm from '../../components/forms/ContactForm.astro';
import Layout from '../../layouts/Page.astro';
import { Container } from '@components/odyssey-theme';

const seo = {
	title: 'Contact | Saffron Shark Labs',
	description: 'Contact Saffron Shark Labs',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>Hook a Shark!</h1>
				<p>
					Want a shark for your next project? Reach out to discuss how we can help
          your business thrive in the digital ocean.
				</p>
				<div>
					<p>
						<em><a href="tel:+15124360321">+1 (512) <span>4</span>36<span>-</span><span>03</span>21</a></em> • <em
							><a href="mailto:info@saffronsharklabs.com">info<span>@</span>saffr<span>onsh</span>arklabs.com</a
							></em
						>
					</p>
				</div>
			</div>
			<div class="col-2__container">
				<ContactForm />
			</div>
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
    color: var(--theme-on-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
